{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}



{% block body %}
    <div class="inscription">
        <h2 class="title-inscription text-purple-inscription d-flex justify-content-center ">Inscription</h2>

        {{ form_start(form) }}


        {{ form_rest(form) }}
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary button-signup mb-4 mt-4">S'inscrire</button>
        </div>
            <div class="d-flex justify-content-center mt-3 mb-4">
                <small>Vous avez déjà un compte ?
                    <a href="{{ path('login') }}" class="text-decoration-none text-purple">Connectez-vous</a>
                </small>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}



