
/* NAVBAR */



@media screen and (max-width: 1200px) {

    .post-make .message-input-visitor {
        margin-right: -91px;
    }

    .post-make span {
        margin-right: -30px;
    }
}



@media screen and (max-width: 991px) {

    .navbar {
        flex-wrap: nowrap;
    }

    .button-inscription, .button-connexion {
        display: none;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        display: block;
        color: var(--background-color-violet-fonce);
    }

    .offcanvas {
        background-color: var(--background-color-violet-very-clair);
    }

    .btn-close {
        color: var(--background-color-violet-fonce);
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-toggler-icon {
        color: var(--color-white);
    }

    .post-make .message-input-visitor {
        margin-left: -90px;
        font-size: 12px;
    }

    

    /* USER CONNECTED */

    .container-fluid .header-picture-user {
       display: none;
    }

    .btn-user, .link-user a {
        display: none;
    }

    .avatar-sidebar {
        display: block;
        height: 60px;
        width: 60px;
    }
    
    .name-sidebar {
        display: block;
        color: var(--background-color-violet-fonce);
    }

    .post-make span {
        margin-right: -122px;
        font-size: 14px;
    }
}




@media screen and (max-width: 768px) {

    .post-make .message-input-visitor {
        display: none;
    }

    .container-post .visitor-image {
        display: none;
    }

    .post-make .modal-post {
        margin-right: 5px;
    }

    .post-make span {
        display: none;
    }

    .image-user {
        display: none;
    }

    .modal-post .glass {
        display: block;
    }
    
}




