{% extends 'base.html.twig' %}

{% block title %}Yubo - Modifier un poste{% endblock %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

    <div class="mt-5 w-50">
        <h2 class="d-flex justify-content-center color-purple editPost">Modifier un Poste</h2>


        {{ form_start(formEditPost, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="modal-body">
            {{ form_rest(formEditPost) }}

            <button type="submit" class="btn btn-primary button-footer">Publier</button>
        </div> 
    </div>
    {{ form_end(formEditPost) }}

    {% endif %}

{% endblock %}